<div class="row">
    <div class="col-md-8">
        <button class="btn btn-primary mt-2 float-end" [routerLink]="['add']">Add Post</button>
        <table class="table table-striped text-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts$ | async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm me-1" [routerLink]="['edit',post.id]">Update</button>
                        <button class="btn btn-danger btn-sm" (click)="onDeletePost(post.id)">Delete</button>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>
